rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow create: if 
        userId == request.auth.uid &&
        request.resource.data.keys().hasOnly([
          "email",
          "firstName", 
          "lastName"
        ]) &&
        request.resource.data.userId == userId;
      
      allow update: if 
        userId == request.auth.uid &&
        request.resource.data.diff(resource.data).affectedKeys()
          .hasOnly(["firstName", "lastName"]);

      allow read, delete: if userId == request.auth.uid;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
} 